.wrapper {
    width: 800px;
    margin:0 auto;


}
.photo {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
.left {
    display: flex;
    gap: 30px;
}

h1, h2 {
    margin: 0;
    font-size: 22px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

hr {
    width: 800px;
    color: #C2C0C0;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main {
    width: 800px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.table {
    border: 1px solid #5A9645;
    width: 800px;
    display: flex;
    border-radius: 10px;
    margin: 50px auto;

}
.table-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #5A9645;
}

.table-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: 1px solid #5A9645;
    
}

.table-left-up, .table-right-up {
    text-align: center;
    border-bottom: 1px solid #5A9645;
    padding: 5px ;
    color: #5A9645;
    font-weight: 700;
    
}
.table-left-down {
    display: flex;
    justify-content: center;

    
}
.table-right-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.url{
    text-decoration: none;
    color: black;
}
.url:hover{
    text-decoration: none;
    color: green;
}


.block{
    background-color: #5A9645;
    border-radius: 5px;
    width: 800px;
    color: white;
    margin: 40px auto;
    text-align: center;
    padding: 7px;
    font-weight: 700;
}

.language{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}





.language-first{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    transition: box-shadow 0.3s ease;
    
}
 
.language-first:hover{
    box-shadow: 0px 0px 30px  #5A9645;
    cursor: pointer;
}

.js{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    
}

.feedback{
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.data {
    display: flex;
    width: 800px;
    
}



::placeholder{
    color:#C2C0C0
}

.name, .Phone{
    
    padding: 7px;
    width: 50%;
    border-radius: 5px;
    border-color: #C2C0C0;
    margin-bottom: 15px;
    
    
    
    
}
.name{
    margin-right: 10px;
}



input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}

.question{
    width: 800px;

}


textarea {
    resize: none;
    width: 800px;
    border-radius: 5px;
    border-color: #C2C0C0;
    height: auto;
    padding: 5px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button{
    background-color: #5A9645;
    padding: 10px 30px 10px 30px;
    
    color: white;
    border-radius: 5px;
    border: none;
    

}

